<% provide(:title, 'Sign up') %>
<center><h1>Sign up</h1></center>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
   <%= form_for(@user, url: signup_path) do |f| %>

   <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
    <% end %>
   <% end %>

   	<center>
     <%= f.label :name %><BR>
     <%= f.text_field :name, class: 'form-control' %>
	  </center>
	  <center>
      <%= f.label :email %><BR>
      <%= f.email_field :email, class: 'form-control' %>
    </center>
    <center>
      <%= f.label :password %><BR>
      <%= f.password_field :password, class: 'form-control' %>
    </center>
    <center>
      <%= f.label :password_confirmation, "Confirmation" %><BR>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </center>
	  <center>
	   <BR>
      <%= f.submit "Create my account", class: "btn btn-warning" %>
    </center>
   <% end %>
 </div>
</div>
