<center><h1><STRONG>Posts</STRONG></h1></center>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<% @posts.each do |post| %>
		<%= render "post_row", post: post, order_item: @order_item %>
		<% end %>
	</div>

	<% @posts.each do |post| %>
	
  		<div class="col-xs-4 col-md-4">
			<div class="thumbnail">
	 		 <%= image_tag post.photo.url(:thumb) %>
	 			<div class="caption">

	 				<center><span class="label label-info"><%= "Price in UAH - " %>
					<%= "#{post.price}₴" %></span></center>
					
					<center><span class="label label-default">
					<%= post.category.name %></span></center>
					
					<center><h3><%= post.title %></h3></center>
					<% if post.body != nil %>
						<% post_short = post.body.match(/^(\w|\s)?{45}/).to_s %>
						<center><p><%= post_short %>...</p></center>
					<% else %>
						<center><p><%= post.body %></p></center>
					<% end %>

					<p><%= link_to "Read more", post_path(post), :class => 'btn btn-default' %></p>
	 			</div>
			</div>
  		</div>
	<% end %>
</div>