<!-- START NAVIGATION -->
      <div class="sticky-wrapper">
        <nav id="navigation">
          <div class="container">
            <!-- LOGO GOES HERE -->
            <a id="logo">
            <%= link_to home_path do %>
            <%= image_tag("logo.png", position: "absolute", height: "34", width: "auto" ) %>
            <%end%>
            </a>
            <!-- MENU -->
            <nav>
              <ul id="menu">
                <li><a href="#project">Project</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                
                <% if logged_in? %>
                
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Account 
                    <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                      <li><a><%= link_to "Profile", current_user %></a></li>
                      <li><a><%= link_to "Settings", edit_user_path(current_user) %></a></li>
                      <li class="divider"></li>
                      <li><a>
                      <%= link_to "Log out", logout_path, method: "delete" %>
                      </a></li>
                    </ul>
                  </li>
                
            <li><%= link_to "Create post", new_post_path %></li>
            <% else %>
                <li><%= link_to "Sign Up", signup_path %></li>
                <li><%= link_to "Log in", login_path %></li>  
          </ul>
                <%end%>

              </ul>
            </nav>
          </div>
        </nav>
      </div>
      <!-- END NAVIGATION -->